<div [ngStyle]="{
	'border': 'solid black 3px',
	'width': '50%',
	'margin-left': '25%',
	'padding': '10px'
}">
<h1>Dojo Mail</h1>
	<table>
		<thead>
			<th [ngClass] = "{'headders': true}" >Email</th>
			<th [ngClass] = "{'headders': true}" >Importance</th>
			<th [ngClass] = "{'headders': true}" >Subject</th>
			<th [ngClass] = "{'headders': true}" >Content</th>
		</thead>
		<tr *ngFor='let email of emails'>
			<td>{{email.email}}</td>
			<td *ngIf='email.importance'> High</td>
			<td *ngIf='!email.importance'> Low</td>
			<td>{{email.subject}}</td>
			<td>{{email.content}}</td>
		</tr>
	</table>
</div>
